*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
 p{
  margin: 0;
 }

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.first-half-hr:hover{
  opacity: 85%;
}